.avatar {
	height: 100px;
	width: 100px;
}

.resultados {
	margin-top: 10px;
	padding: 3px;
}

.resultados p {
	padding: 2px;
}

.lbl {
	font-weight: bold;
}

.foto-lista {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

#icCarregando {
	padding: 5px;
}